In [8]:
#condtional statements
age = int(input("Enter your age: "))
if age >= 18:
  print("You are eligible to vote") #identation is necessary for conditional statements or wherever you are defining a block of code

# print("this is not part of if statement so no need for indentation")

Enter your age: 13

In [6]:
#if-else statement
age = int(input("Enter your age: "))
if age >= 18:
  print("You are eligible for the vote")
else:
  print("You are not eligible to vote")

Enter your age: 22
You are eligible for the vote

In [ ]:
#if else and elif statement
marks = 90
if marks >=90:
  print("Grade: A")
elif marks >=80:
  print("Grade: B")
elif marks >=70:
  print("Grade: C")
elif marks >=60:
  print("Grade: D")
else:
  print("Grade: F")

Grade: A

In [ ]:
#Nested If statement
num = int(input("Enter a number: "))  #10, -1
if num >= 0:
  if num == 0:
    print("Number is zero")
  else:
    print("Number is positive")
else:
  print("Number is negative")

Enter a number: -1
Number is negative

In [10]:
num = 12

#[Conditions]
if num > 7:
  if num % 2 == 0:
    print(f"{num} number is greater than 5") #Use f"" when you need to include variables inside a string
  else:
    print(f"{num }Odd number is greater than 5")

12 number is greater than 5

In [25]:
is_adult = True
has_voter_id = False
if is_adult and has_voter_id:
  print("You are  eligible to vote")
else:
  print("You are NOT eligible to vote")

You are  NOT eligible to vote

In [ ]:
#Ternary Operator
#Shorthand way of writing the single if else statement
age = 30
message = "Adult" if age >=18 else "Not Adult"
print(message)

Adult

In [14]:
#match-case statement
#Traffic Signal
color = input("Enter the color: ")
color = color.lower()
match color:
  case 'red':
    print("Stop")
  case "yellow":
    print("Ready")
  case "green":
    print("go")
  case _:
    print("Invalid color")

Enter the color: yellow
Ready

In [ ]:
#For Loop on list

fruits = ["Apple", "bananas", "Mango"]
for fruit in fruits:
  print(fruit)

Apple
bananas
Mango

In [ ]:
#For Loop on string
fruits = "Apple"
for fruit in fruits:
  print(fruit)

A
p
p
l
e

In [ ]:
#For Loop on Dictionary
fruits = {"Fruit":"Apple", "Car":"Suzuki", "City":"Tokyo"}
for key, value in fruits.items():
  print(f"{key}:{value}")

Fruit:Apple
Car:Suzuki
City:Tokyo

In [15]:
#range
for i in range(1, 11): #11 is not include in the output
  print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
#While Loop
count = 0;
while count < 5:
  print(f"Count: {count}")
  count+=1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [ ]:
#Run the loop infine times

while True:
  user_input = input("Enter the q letter to exit")
  if user_input == "q":
    print("Exit the loop")
    break

Enter the q letter to exitq
Exit the loop

In [18]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
#Loop inside Loop
for i in range(3):
  for j in range(2):
    print(i, j)

    # (0,0) (0,1)
    # (1,0) (1,1)
    # (2,0) (2,1)

    #3x2 matrix

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(1,6):  #outer loop
  for j in range(1,11):  #inner loop
    print(f"{i} x {j} = {i * j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Loop else statement
for i in range(5):
  print(i)
else:
  print("Loop completed")

0
1
2
3
4
Loop completed

In [ ]:
#Search Functionality
num = [1,2,3,4,5]
search = 7

for nums in num:
  if nums == search:
    print(f"Found {search}")
    break
else:
  print(f"{search} number not found")

7 number not found

In [ ]:
#Define Functions in Python Language
def greet():
  print("Hello, I am learning Python Language")
greet()

Hello, I am learning Python Language

In [21]:
def greet(name):
  print(f"Hello, {name} is learning Python Language")
greet("Kainat")

Hello, Kainat is learning Python Language

In [20]:
# def add(a,b):
#   return a+b
# print(add(3,5))

def display_info(name, age = 31):
  print(f" Name:{name}, Age:{age}")
display_info(name = "Kainat", age =  22)

 Name:Kainat, Age:22

In [ ]:
def my_function():
  pass

result = my_function()
print(result)

None

In [24]:
#Arbitrary Arguments

def print_arg(*args):
  for arg in args:
    print(arg)
print_arg(1,2,3,4,5)

def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}:{key}")
print_kwargs(name="Kainat", age=22)

1
2
3
4
5
name:name
age:age

In [ ]:
#lambda Function
#One liner function
# difference between lamda and normal functions, lambda is for simple function doesnt includes complex functionality while def allows complex functionality

square = lambda x: x**2
print(square(5))   #x=5

25